ion-card {
    --background: var(--ion-color-light);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vehiclesItem {
    padding-inline: 10px;
}

.retired {
    --background: var(--ion-color-medium);
    --color: var(--ion-color-light);

    ion-card-title,
    ion-card-subtitle {
        color: var(--ion-color-light);
    }

    ion-icon {
        color: var(--ion-color-light);
    }
}