<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="primary" fill="clear" (click)="onCancel()">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{(mode==='New'?'Usuario nuevo':'Editar usuario')}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button *ngIf="mode==='Edit'" color="primary" fill="clear" (click)="onDelete()">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" size="small">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
        <ion-item size="small">
            <ion-input label="Matrícula" labelPlacement="start" formControlName="plate" type="text"></ion-input>
        </ion-item>
        <ion-item size="small">
            <ion-input label="Marca" labelPlacement="start" formControlName="brand" type="text"></ion-input>
        </ion-item>
        <ion-item size="small">
            <ion-input label="Modelo" labelPlacement="start" formControlName="model" type="text"></ion-input>
        </ion-item>
        <ion-item size="small">
            <ion-input label="Fecha de alta del vehículo" labelPlacement="start" formControlName="registrationDate" type="text"></ion-input>
        </ion-item>
        <ion-item size="small">
            <ion-input label="Categoría" labelPlacement="start" formControlName="category" type="text"></ion-input>
        </ion-item>
        <ion-item size="small">
            <ion-checkbox labelPlacement="start" formControlName="available">Vehículo disponible</ion-checkbox>
        </ion-item>
        <ion-item size="small">
            <ion-input label="Propietario" labelPlacement="start" formControlName="owner" type="text"></ion-input>
        </ion-item>
    </form>
</ion-content>

<ion-footer>
    <ion-button type="submit" [disabled]="!form.valid || !form.dirty" class="ion-padding" expand="full"
        (click)="onSubmit()">{{(mode==='New'?'Crear':'Guardar')}}</ion-button>
</ion-footer>