<ion-row class="ion-justify-content-center">
    <ion-col size="5">
        <ion-card color="secondary">
            <ion-card-header>
                <ion-card-title>Autor: Juan Manuel Gutiérrez Mellado</ion-card-title>
                <ion-card-subtitle>Frontend Developer Jr.</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                Desarrollador de aplicaciones multiplataforma y de aplicaciones web. Estudios de HTML, CSS,
                JavasCript,
                Java, MySQL. Conocimientos C, Python, PHP, Kotlin y de las plataformas AWS y Docker.
            </ion-card-content>
            <ion-button href="https://github.com/Juanma-Gutierrez" target="_blank">
                <ion-icon name="logo-github" aria-label="GitHub"></ion-icon>
                GitHub
            </ion-button>
            <ion-button href="https://www.linkedin.com/in/juanmanuelgutierrezm/" target="_blank">
                <ion-icon name="logo-linkedin" aria-label="LinkedIn"></ion-icon>
                LinkedIn</ion-button>
        </ion-card>
    </ion-col>
</ion-row>