img {
    width:60px;
}

.active {
    --background: var(--ion-color-success);
}

.in-line {
    display: flex;
    flex-direction: row;
}

.center-v {
    align-items: center;
}

.end-h {
    justify-content: end;
}