.active {
    --background: var(--ion-color-tertiary);
}

.center-v {
    align-items: center;
}

.end-h {
    justify-content: end;
}

img {
    width: 60px;
}

.in-line {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 767px) {
    .mobile-mode {
        display: block;
    }

    .computer-mode {
        display: none;
    }
}

@media only screen and (min-width: 767px) {
    .mobile-mode {
        display: none;
    }

    .computer-mode {
        display: block;
    }
}