<ion-header [translucent]="true" id="title">
    <ion-toolbar>
        <ion-row class="ion-align-items-center">
            <ion-col>
                <img src="../../../assets/images/logo_carcare_transparent.png">
            </ion-col>
            <ion-col>
                <div class="in-line center-v end-h">
                    <div *ngIf="(auth.isLogged$ | async)" class="in-line center-v">
                        <div>
                            <ion-button shape="round" (click)="navToHome()"
                                [ngClass]="{'active': selectedPage==='home'}">
                                <ion-icon slot="start" name="home-outline"></ion-icon>
                                Inicio
                            </ion-button>
                        </div>
                        <div>
                            <ion-button shape="round" (click)="navToVehicles()"
                                [ngClass]="{'active': selectedPage==='vehicles'}">
                                <ion-icon slot="start" name="car-outline"></ion-icon>
                                Vehículos
                            </ion-button>
                        </div>
                    </div>
                    <ion-button shape="round" (click)="navToAbout()" [ngClass]="{'active': selectedPage==='aboutMe'}">
                        <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                        Sobre mí
                    </ion-button>
                </div>
            </ion-col>
            <ion-col class="ion-text-end" *ngIf="(auth.isLogged$ | async) && (auth.user$ | async)">
                <app-user-item (logoutClicked)="logoutClicked()"  [user]="user"></app-user-item>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>