<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="primary" fill="clear" (click)="onCancel()">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{(mode==='New'?'Nuevo gasto':'Editar gasto')}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button *ngIf="mode==='Edit'" color="primary" fill="clear" (click)="onDelete()">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" size="small">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
        <ion-list>
            <app-provider-item-selectable formControlName="providerId"></app-provider-item-selectable>
            <ion-input label="Proveedor" labelPlacement="floating" fill="outline" formControlName="provider" type="text"
                class="input">
            </ion-input>
            <ion-input label="Importe" labelPlacement="floating" fill="outline" formControlName="amount" type="number"
                class="input">
            </ion-input>
            <ion-input label="Observaciones" labelPlacement="floating" fill="outline" formControlName="observations"
                type="text" class="input">
            </ion-input>
            <div class="centered vertical">
                Fecha del gasto:
                <ion-datetime presentation="date" [firstDayOfWeek]="1" [value]="(mode === 'New') ? today : spent?.date" 
                    formControlName="date"></ion-datetime>
            </div>
        </ion-list>
    </form>
</ion-content>
<ion-footer>
    <ion-button buttonDirective type="submit" [disabled]="!form.dirty" class="ion-padding" expand="full"
        (click)="onSubmit()">{{(mode==='New'?'Crear':'Guardar')}}</ion-button>
</ion-footer>