<ion-content [fullscreen]="true">
    <div class="container fullx fully">
        <ion-card>
            <ion-card-header>
                <div class="ion-text-center">
                    <img id="logoImage" alt="Logo of CarCare"
                        src="../../../assets/images/logo_carcare_transparent.png" />
                    <ion-text>
                        <h1>Login</h1>
                    </ion-text>
                    <ion-text>
                        <h2>CarCare</h2>
                    </ion-text>
                </div>
            </ion-card-header>
            <ion-card-content>
                <div class="ion-text-center">
                    <ion-button fill="clear" style="text-transform: none;">No tengo cuenta</ion-button>
                </div>
                <!--                   <app-login-form (onsubmit)="onLogin($event)"></app-login-form> -->
            </ion-card-content>
        </ion-card>
    </div>


</ion-content>