<ion-content [fullscreen]="true">
    <div class="container fullx fully">
        <ion-card>
            <ion-card-header>
                <div class="ion-text-center">
                    <img id="logoImage" alt="Logo of CarCare"
                        src="../../../assets/images/logo_carcare_transparent.png" />
                    <ion-text color="dark">
                        <h1>Login</h1>
                    </ion-text>
                </div>
                <div>
                    <ion-text [routerLink]="['/register']" itemDirective>
                        No estoy registrado
                    </ion-text>
                </div>
            </ion-card-header>
            <ion-card-content>
                <app-login-form (onsubmit)="onLogin($event)"></app-login-form>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>