<ion-content [fullscreen]="true">
    <div class="container fullx fully">
        <ion-card>
            <ion-card-header>
                <div class="ion-text-center">
                    <ion-text color="dark">
                        <h1>Registro</h1>
                    </ion-text>
                </div>
                <div>
                    <ion-text [routerLink]="['/login']" buttonDirective>
                        Iniciar sesión
                    </ion-text>
                </div>
            </ion-card-header>
            <ion-card-content>
                <app-register-form (onsubmit)="onRegisterFormSubmit($event)"></app-register-form>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>