img {
    width: 75px;
}

.scrollable {
    overflow: scroll;
}

.h90{
    height: 90vh;
}

app-spent-item{
    width: 100%;
}

.vehicleasdFab{
    position:fixed;
    top:100px;
    z-index: 100;
}

.spentFab{
    position:fixed;
    top:25px;
    z-index: 100;
    right:35px;
}