<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-row>
            <img src="../../../assets/images/logo_carcare_transparent.png">
            <ion-text>
                <h1>Listado de vehículos</h1>
            </ion-text>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <ion-row>
            <ion-grid>
                <div class="ion-text-center">
                    <h2>Vehículos</h2>
                </div>
                <ion-segment value="available" color="primary" (ionChange)="selectionChanged($event)">
                    <ion-segment-button value="available">
                        <ion-label>Disponibles</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="all">
                        <ion-label>Todos</ion-label>
                    </ion-segment-button>
                </ion-segment>
                <div *ngFor="let vehicle of borrarVehiculos">
                    <app-vehicle [vehicle]="vehicle" *ngIf="vehicle.available || !filterAvailable"></app-vehicle>
                </div>
            </ion-grid>
            <ion-grid>
                <div class="ion-text-center">
                    <h2>Gastos</h2>
                </div>
                <div>

                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>Total gastado: </ion-card-title>
                            <ion-card-subtitle>Nº de gastos: </ion-card-subtitle>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-list>
                                <ion-item *ngFor="let spent of borrarGastos">
                                    <app-spent [spent]="spent"></app-spent>
                                </ion-item>
                            </ion-list>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-grid>
        </ion-row>
    </div>
</ion-content>