<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-row>
            <img src="../../../assets/images/logo_carcare_transparent.png">
            <ion-title>
                CarCare
            </ion-title>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-row class="ion-justify-content-center">
        <ion-text>
            <h1>Listado de vehículos</h1>
        </ion-text>
    </ion-row>
    <div id="container">
        <app-vehicle *ngFor="let vehicle of borrarVehiculos" [vehicle]="vehicle"></app-vehicle>
    </div>
</ion-content>